:root {
    --bg-outer: #333;
    --bg-main: #eee;
    --text-color: #333;
    --link-color: #267CB9;
    --hover-bg: #ddd;
    --footer-color: #aaa;
}
[data-theme="dark"] {
    --bg-outer: #0d0d0d;
    --bg-main: #1c1c1e;
    --text-color: #98989d;
    --link-color: #5a9fd4;
    --hover-bg: #2c2c2e;
    --footer-color: #636366;
}
html, body {
    margin: 0;
    background-color: var(--bg-outer);
}
body {
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
    transition: background-color 0.2s, color 0.2s;
}
.main, .theme-toggle, a, li, footer {
    transition: background-color 0.2s, color 0.2s;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
.main {
    background-color: var(--bg-main);
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 4px;
    max-width: 970px;
}
.icons {
    text-align: end;
}
.icons a, .icons button {
    margin-right: 5px;
    color: var(--text-color);
    opacity: 0.7;
}
.icons a:hover, .icons button:hover {
    opacity: 1;
}
.photo {
    width: 300px;
    float: right;
    margin-left: 20px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
@media screen and (max-width: 480px) {
    .main {
		margin-top: 0;
		border-radius: 0;
        padding: 20px 10px 10px;
    }
    .photo {
        float: right;
        margin-left: 0;
        margin-bottom: 10px;
		width: 150px;
    }
	.icons {
		text-align: right;
	}
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    padding: 0 10px 5px;
    list-style-type: square;
    list-style-position: inside;
}
li:hover {
    background-color: var(--hover-bg);
    border-radius: 2px;
}
footer {
    margin: 30px 0 30px;
    text-align: center;
    color: var(--footer-color);
}
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    vertical-align: baseline;
}
